@model CadastroDePacientesBe3.Models.Clientes

@{
    ViewData["Title"] = "Editar " + Model.Nome;
}

<section class="container-fluid">

    @if (ViewBag.Error != "")
    {
        <span class="text-danger alinhar">@ViewBag.Error</span>
    }

    <h2 class="formatar">Editar</h2>

    <hr />

    <form asp-action="Edit" asp-controller="Clientes">
        <input type="hidden" asp-for="Prontuario"  />

        <div class="row">
            <div class="col">
                <label class="formatar" for="Cpf">CPF</label>
                <input asp-for="Cpf" type="text" readonly class="form-control">
                <span asp-validation-for="Cpf" class="text-danger"></span>

            </div>
            <div class="col">

            </div>
        </div>
        <br />

        <div class="row">
            <div class="col">
                <label class="formatar" for="Nome">Nome</label>
                <input asp-for="Nome" type="text" class="form-control">
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col">
                <label class="formatar" for="Nome">Sobrenome</label>
                <input asp-for="Sobrenome" type="text" class="form-control">
                <span asp-validation-for="Sobrenome" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col">
                <label class="formatar" for="DtNasc">Nascimento</label>
                <input asp-for="DtNasc" type="date" class="form-control">
                <span asp-validation-for="DtNasc" class="text-danger"></span>
            </div>

            <div class="col">
                <label class="formatar" for="Sexo">Sexo</label>
                <div class="form-inline">
                    <input asp-for="Sexo" type="radio" id="M" name="Sexo" value="1" checked>&nbsp;
                    <label>Masculino</label>&nbsp;&nbsp;
                    <input asp-for="Sexo" type="radio" id="F" name="Sexo" value="2">&nbsp;
                    <label>Feminino</label><br>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="formatar" for="Rg">RG</label>
                <input asp-for="Rg" type="text" class="form-control">
                <span asp-validation-for="Rg" class="text-danger"></span>
            </div>
            <div class="col">
                <label class="formatar" for="idConvenio">Uf do RG</label>
                <div class="input-group mb-3">
                    <select asp-for="UF" class="custom-select" id="SelectUF">
                        <option selected value="">Selecionar...</option>

                        @{
                            var number = 0;
                            
                            foreach (var item in ViewBag.States)
                            {
                                number++;
                                <option value="@number.ToString()">@item</option>
                            }
                        }

                    </select>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col">
                <label class="formatar" for="Email">Email</label>
                <input asp-for="Email" type="email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col">
                <label class="formatar" for="FoneRes">Telefone</label>
                <input asp-for="FoneRes" type="text" class="form-control">
                <span asp-validation-for="FoneRes" class="text-danger"></span>
            </div>
            <div class="col">
                <label class="formatar" for="Celular">Celular</label>
                <input asp-for="Celular" type="text" class="form-control">
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col">
                <label class="formatar" for="idConvenio">Convenio</label>
                <div class="input-group mb-3">
                    <select asp-for="IdConvenio" class="custom-select" id="SelectCon">
                        <option selected value="">Selecionar...</option>

                        @{

                            foreach (var item in ViewBag.Convenios)
                            {
                                <option value="@item.IdConvenio">@item.Empresa</option>
                            }
                        }

                    </select>
                </div>
            </div>
            <div class="col">
                <label class="formatar" for="NCarteirinha">Nº Carteirinha</label>
                <input asp-for="NCarteirinha" type="text" class="form-control">
                <span asp-validation-for="NCarteirinha" class="text-danger"></span>
            </div>
            <div class="col">
                <label class="formatar" for="DtValidade">Validade</label>
                <input asp-for="DtValidade" type="month" class="form-control">
                <span asp-validation-for="DtValidade" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label class="formatar" for="NomeMae">Nome da Mãe</label>
                <input asp-for="NomeMae" type="text" class="form-control">
                <span asp-validation-for="NomeMae" class="text-danger"></span>
            </div>

        </div>
        <br />

        <div class="btn-group btn-block">
            <a class="btn btn-secondary" asp-action="List">Voltar</a>&nbsp; &nbsp;
            <button type="submit" class="btn greenB">Alterar</button>
        </div>

    </form>

</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}






